@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Space+Grotesk:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    margin: 1% 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 15%;
}
.logo img {
    width: 100%;
}
a{
    text-decoration: none;
}
nav ul {
    display: flex;
    gap: 38px;
}
nav ul li {
    display: inline-flex;
    list-style: none;
}
nav ul li a {
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
}
nav ul li a span {
    color: #239C2F;
}
.menu,
.closemenu {
    display: none;
}
.closemenu {    
    width: 20px;
}
.closemenu img {   
    width: 100%;
}
/* End of nav section (header) */

/* Section one Hero Section */
.section1 {
    position: relative;
}
.section1 .desk-img {
    width: 100%;
}
.section1 .desk-img img {
    width: 100%;
}
.section1 .desk-img img:last-of-type {
    display: none;
}
.section1 > div:last-of-type {
    position: absolute;
    top: 48%;
    color: white;
    margin: 0 7%;
}
.section1 > div > h1 {
    font-size: 2.8125rem;
    font-weight: 600;
}
.section1 > div > p {
    font-size: 1.5625rem;
    font-weight: 600;
    margin-bottom: 5%;
}
.section1 > div > button {
    border-radius: 3px;
    background: #F9AF16;
    padding: 15px;
    border: none;
}
.section1 > div > button > a {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 20px;
}
/* End of Section One (Hero Section) */

/* Section two (About Us) */
.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    justify-content: space-between;
    padding: 10% 7%;  
    gap: 77px;
}
.section2 > .right {
    color: #000;
}
.section2 h2 {
    font-size: 1.875rem;
    font-weight: 700;
}

.section2 > .right > p {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    line-height: 23.01px;
    margin-top: 15px;
}
.section2 .left h2 {
    display: none;
}
.section2 > .left img {
    width: 100%;
}
/* End of Section Two (About Us) */

/* Section three (Benefits) */
.section3 {
    padding: 0 7%;
}
.section3 > h2 {
    font-size: 1.875rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 5%;
}
.section3 > .wrap3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 50px;
}
.section3 .benefit-box {
    position: relative;
}
.section3 > .wrap3 img {
    width: 100%;
}
.section3 > .wrap3 h3 {
    position: absolute;
    bottom: 8%;
    left: 10%;
    right: 5%;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}
/* End of Section three (Benefits) */

/* Section Four (Core Values) */
.section4 {
    padding: 10% 7%;
}
.section4 > h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 3.12rem;
}
.section4 > .wrap4 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 3.12rem 8.8rem;
}
.section4 > .wrap4 > div {
    display: flex;
    gap: 0 1.25rem;
}
.wrap4 > div > div > img {
    display: block;
}
.wrap4 > div > div > h3 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.62rem;
}
.wrap4 > div > div > p {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    text-align: justify;
}
/* Section Four (Core Values) */

/* Section Five (Our Services) */
.section5 {
    padding: 0 7% 10%;
}
.section5 h2 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 5%;
}
.section5 > .wrap5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.wrap5 .wrap5-box {
    position: relative;
}
.wrap5 .wrap5-box h3 {
    position: absolute;
    bottom: 8%;
    left: 10%;
    right: 10%;
    color: #000;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
}
.wrap5 .two h3,
.wrap5 .three h3,
.wrap5 .six h3 {
    bottom: 15%;
}
.wrap5 .wrap5-box img {
    width: 100%;
}
/* End of Section Five (Our services) */

/* footer */
footer {
    background: #1E1E1E;
}
.foot-main {
    display: flex; 
    flex-direction: column;
    padding: 99.73px 7% 2%;
    gap: 3rem;
    color: #e9e3e3;
}
.foot-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.foot-info {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem;
}
.foot-info h3 {
    color:  #FFFFFF;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    padding-bottom: 15px;
}
.foot-info .foot-menu ul li {
    list-style: none;
    padding-bottom: 12px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}
.foot-info .foot-menu ul li a {
    color: #e9e3e3;
}
.contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40.95px;
}
.email, 
.number {
    display: flex;
    gap: 8.53px;
}
.email a, 
.number a {
    color: #e9e3e3;
    font-weight: 500;
    font-size: 0.8rem;
}
.social {
    display: flex;
    flex-direction: column;
    gap: 13.65px;
}
.social p {
    font-size: 0.8rem;
    font-weight: 400;
}
.icons {
    display: flex;
    gap: 1rem;
}
.icons .img {
    width: 27.3px;
    height: 27.3px;
    border-radius: 50%;
    background-color: white;
    position: relative
}
.icons img {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 5px;
    left: 4px;
    right: 4px;
}
.copy {
    text-align: center;
}
/* End of footer */


/* Responsiveness @media queries */

/* large tablet view*/

@media (max-width: 1109px) {
    nav ul li a {
        font-size: 0.8rem;

        /* section 1 */
        
    }.section1 > div > h1 {
        font-size: 2rem;
    }
    .section1 > div > p {
        font-size: 1rem;
    }
    .section1 > div > button {
        padding: 10px;
    }
    .section1 > div > button > a {
        font-size: 0.8rem;
    }

    /* section 3 */
    .section3 > .wrap3 h3 {
        bottom: 15%;
        font-size: 1rem;
    }

    /* section 5 */
    .wrap5 .wrap5-box h3 {
        font-size: .8rem;
    }
}

@media (max-width: 800px) {
    /* section 1 */
    .section1 > div:last-of-type {
        top: 40%;
    }
    .section1 > div > h1 {
        font-size: 1.8rem;
    }
    .section1 > div > p {
        font-size: .9rem;
    }

    /* Section two (About Us) */
    .section2 {
        grid-template-columns: 1fr; 
        gap: 20px;
    }
    .section2 .right h2 {
        display: none;
    }
    .section2 > .left {
        grid-row: 1;
    }
    .section2 .left h2 {
        display: revert;
        margin-bottom: 15px;
    }

    /* Section three (Benefits) */
    .section3 > h2 {
        font-size: 1.8rem;
        text-transform: capitalize;
    }
    .section3 > .wrap3 {
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
    }
    .section3 > .wrap3 h3 {
        font-size: 0.875rem;
        bottom: 6.5%;
    }

    /* Section four (Core Values) */
    .section4 > .wrap4 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    /* Section five (Our Services) */
    .section5 > .wrap5 {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .wrap5 .wrap5-box h3 {
        bottom: 7%;
        font-size: 0.75rem;
    }
    .wrap5 .two h3,
    .wrap5 .three h3,
    .wrap5 .six h3 {
        bottom: 15%;
    }
}


/* mobile view - from 600px down*/
@media (max-width: 600px) {
    /* Header */
    .logo {
        width: 25%;
    }
    .menu,
    .closemenu {        /* newwww */
        display: block;
    }
    .main-menu {    /* newwww */
        height: 50vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #239C2F;
        transition: top 1s ease;
        display: none;
    }
    nav ul li a span {  /* transfer */
        color: #F9AF16;
        font-weight: bold;
    }
    .closemenu {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    /* Section one (Hero Section) */
    .section1 .desk-img img:first-of-type {
        display: none;
    }
    .section1 .desk-img img:last-of-type {
        display: revert;
    }
    .section1 > div:last-of-type {
        top: 30%;
    }
    .section1 > div > h1 {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .section1 > div > p {
        font-size: 0.5rem;
    }
    .section1 > div > button {
        padding: 6px;
    }
    .section1 > div > button > a {
        font-size: .6rem;
    }

        /* section 5 */
    .wrap5 .wrap5-box h3 {
        bottom: 7%;
        font-size: 0.6rem;
    }
    .wrap5 .two h3,
    .wrap5 .three h3 {
        bottom: 15%;
    }

    /* footer ( mobile)*/
    .foot-main {
        padding: 50px 7% 2%;
        gap: 2rem;
    }
    .foot-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .foot-content .foot-logo {
        width: 20%;
    }
    .foot-logo img {
        width: 100%;
    }
    .foot-contact {
        grid-row: 1;
    }
    .foot-info {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 2rem;
    }
    .foot-info h3 {
        font-size: 1rem;
        padding-bottom: 13.65px;
    }
    .foot-info .foot-menu ul li {
        padding-bottom: 12px;
        font-size: 0.7rem;
    }
    .contact-wrapper {
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }
    .email {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .number {
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-top: 12px;
    }
    .email a, 
    .number a,
    .social p {
        font-size: 0.7rem;
    }
    .social {
        gap: 15px;
    }
    .copy {
        font-size: .625rem
    }

}
